*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(to bottom right, #f8fbff, #ffffff);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ===== NAVBAR ===== */
header{
    background-color: #2563eb;
    padding: 1rem 2rem;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand{
    display: flex;
    align-content: center;
    gap: 10px;
    color: white;
}

.logo{
    width: 45px;
    border-radius: 50%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3 ease;
}

.nav-links a:hover, .nav-links a.active{
    color: #a5d8ff;
    border-bottom: 2px solid #a5d8ff;
}

.container{
    max-width: 600px;
    margin: 3rem auto;
    background: #ffffffc9;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0,1);
}

.title{
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group label{
    font-weight: 500;
    color: #333;
}

input, textarea{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    transition: border o.3 ease;
}

input:focus, textarea:focus{
    border-color: #0078ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0,120,255,0.3);
}

.btn-primary{
    background: linear-gradient(90deg, #0078ff, #00c6ff);
    border: none;
    color: white;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover{
    background: linear-gradient(90deg, #0066d6, #00a9d6);
    transform: translateY(-2px);
}

.notif{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.4 ease forwards;
    z-index: 9999;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ===== Footer ===== */
footer{
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
