* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom right, #f8fbff, #ffffff);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ===== NAVBAR ===== */
header {
    background-color: #2563eb;
    padding: 1rem 2rem;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 45px;
    border-radius: 50%;
}

.brand {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-links a:hover, .nav-links a.active {
    color: #a5d8ff;
    border-bottom: 2px solid #a5d8ff;
}

.statistics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 1000px;
    margin: 2rem auto;
}

.stat-card {
    flex: 1 1 250px;
    background-color: #2563eb;
    color: white;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.stat-card:hover {
    transform: translateY(-10px);
}

.stat-card h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.stat-card .stat-number {
    font-size: 2.5rem;
    font-weight: 700;
}